<strong>Olá, {{ student_first_name }}!</strong>
<p>
  Parabéns pela sua matrícula na academia!
  <br />Seguem os detalhes do seu plano:
</p>
<p>
    <strong>Cliente: </strong> {{ student_name }} <br />
    <strong>Plano: </strong> {{ plan_name }} <br />
    <strong>Início: </strong> {{ start_date }} <br />
    <strong>Término: </strong> {{ end_date }} <br />
    <strong>Preço: </strong> {{ price }} <br />
    <br />
    <small>
        Bora ficar monstro!
    </small>
</p>
